.os-reader-feed-items {
  margin-bottom: 10px !important;
}

.os-reader-feed-items li {
  list-style-type: none;
}

.os-reader-terms {
  padding-left: 10px !important; /* LTR */
  padding-bottom: 5px !important;
  padding-top: 5px !important;
}
