.field-widget-media-draggable-file .file-list-single span {
  width: 65%
}

.field-widget-media-draggable-file .file-list-single ul {
  width: 35%;
}

.field-widget-media-draggable-file .file-list-single ul li {
  width: 32%;
}


/* Term tree reference */
ul.term-reference-tree-level {
  list-style-type: none;
}

.term-reference-tree > ul {
  margin-left: 0;
}

.term-reference-tree-button,
.no-term-reference-tree-button {
  background: none;
  height: 0;
  width: 0;
  display: block;
}